body {
    background-color: #efe4d5;
}

.navbar {
    background-color: #d6ae7e;
    justify-content: center;
}
.form-control {
    background-color: #f5f1ee;
}

.container {
    justify-content: center;
    width: 400px;
    margin: 2em auto 2em auto;
}